body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 26px 30px;
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.tabs:hover {
    color: #0e6aff;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0e6aff;
    text-align: center;
}

.hero-content {
    max-width: 80%;
    margin-top: 50px;
    text-align: left;
    padding-left: 60px;
    margin-top: -120px;
    width: 50%;
}

.home-page-header {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.3;
}

.home-page-sub-text {
    font-size: 20px;
    color: #f0f0f0;
    margin: 0 auto;
    line-height: 1.6;
}

.bottom-page {
    background-color: #f6f6f6;
    padding: 80px 0;
    text-align: center;
}

.header-container {
    margin-bottom: 40px;
}

.header {
    font-size: 50px;
    font-weight: bold;
    color: #0e6aff;
}

.sub-header {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -20px;
}

.form-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.form-header {
    font-size: 40px;
    color: #333;
    margin-bottom: 50px;
    font-weight: bold;
}

.input-info {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    display: block;
    text-align: left;
}

input[type="text"], select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, select:focus {
    border-color: #0e6aff;
}

button.submit-button {
    background-color: #0e6aff;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 35%;
    transition: background-color 0.3s ease;
}

button.submit-button:hover {
    background-color: #1e8aff;
}

.prediction-percentage {
    font-size: 24px;
    font-weight: bold;
    color: #0e6aff;
    margin-top: 30px;
}

datalist {
    font-size: 16px;
}

datalist option {
    padding: 10px;
    cursor: pointer;
}

datalist option:hover {
    background-color: #f0f0f0;
}