body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    font-size: 30px;
    font-weight: 700;
    color: #1A202C;
    margin-left: 50px;
}

.logo-text:hover {
    color: #394763;
}

.logo {
    text-decoration: none;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
}

.nav-item a {
    color: #1A202C;
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 10rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #394763;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e5e5e5;
    text-align: center;
}

.hero-content {
    max-width: 100%;
    text-align: left;
    padding-left: 60px;
    margin-top: -70px;
    margin-left: -250px;
    width: 60%;
}

.home-page-header {
    font-size: 40px;
    color: #1A202C;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.3;
}

.home-page-sub-text {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A202C;
    margin: 0 auto;
    line-height: 1.6;
    width: 550px;
    margin-bottom: 80px;
    margin-top: 0px;
}

.text-primary {
    color: #1e56b0;
    font-size: 75px;
    font-weight: bold;
    margin-left: -7px;
}

.header-container {
    margin-bottom: 40px;
}

.header {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}

.sub-header {
    font-size: 22px;
    color: #ececec;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -20px;
}

.rec-sub-header {
    font-size: 22px;
    color: #dbdbdb;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: -40px;
}

.form-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 300px;
    width: 60%;
    max-width: 800px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form-header {
    font-size: 40px;
    color: #333;
    margin-bottom: 50px;
    font-weight: bold;
}

.input-info {
    font-size: 17px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    display: block;
    text-align: left;
}

input[type="text"], select {
    width: 100%;
    padding: 12px;
    margin: 6px 0 30px 0;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, select:focus {
    border-color: #0e6aff;
}

button.get-started-button {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: #2d56b7;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-right: 700px;
    margin-left: -300px;
    width: 25%;
    transition: background-color 0.3s ease;
    text-decoration: none;
    justify-self: left;
    text-align: center;
}

button.get-started-button:hover {
    color: #ffffff;
    background-color: #1e56b0;
}

button.submit-button {
    background-color: #1e56b0;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    transition: background-color 0.3s ease;
}

button.submit-button:hover {
    background-color: #447edc;
}

button.submit-risk-button {
    background-color: #ffffff;
    color: #447edc;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    transition: background-color 0.3s ease;
}

button.submit-risk-button:hover {
    background-color: #1e56b0;
    color: #ffffff;
}

.drug-response-header {
    font-size: 40px;
    color: #333;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

.prediction-percentage {
    font-size: 60px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: #1e56b0;
    margin: 50 auto;
}

.display-percentage {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 300px;
    margin: 0 auto;
}

datalist {
    font-size: 16px;
}

datalist option {
    padding: 10px;
    cursor: pointer;
}

datalist option:hover {
    background-color: #f0f0f0;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    background-color: #f9f9f9;
}

.about-content {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}

.about-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.bottom-page {
    background-color: #1A202C;
    padding: 80px 0;
    text-align: center;
}

.section-bottom-page {
    background-color: #1A202C;
    margin-bottom: 100px;
    margin-top: 100px;
}

.bottom-page-header {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.bottom-page-sub-text {
    font-size: 25px;
    color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    line-height: 1.6;
    width: 1200px;
}

.risk-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

.cancer-risk-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    background-color: #2b3d62;
    width: 800px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.risk-form-header {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 50px;
    font-weight: bold;
}

.input-info-risk {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    text-align: left;
    margin-left: 88px;
}

.recommendation-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 300px;
    width: 60%;
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 70px;
    margin-left: 10px;
}

.container-wrapper {
    display: flex;
    justify-content: flex-start;
}

.cancer-risk-form input[type="number"],
.cancer-risk-form input[type="text"],
.cancer-risk-form select {
    max-width: 300px;
    width: 100%;
    padding: 12px 16px;
    margin: 10px 0 40px 0;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.cancer-risk-form input[type="number"]:focus,
.cancer-risk-form input[type="text"]:focus,
.cancer-risk-form select:focus {
    border-color: #0077cc;
    box-shadow: 0 0 5px rgba(0, 119, 204, 0.5);
    outline: none;
}

.risk-display {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2b3d62;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 340px;
    margin: 0 auto;
}
