<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancer Drug Reponse Detection: Nueral Network Orientated</title>
</head>
<body>
    <div>
        <h1>Cancer Drug Response Detection: Neural Network Oriented</h1>
        <p>Welcome to the Cancer Drug Response Detection project. This project aims to predict the response of cancer cells to various drugs using neural networks.</p>
        <p>To get started, please upload your dataset in CSV format.</p>
        
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" required>
            <button type="submit">Upload</button>
        </form>
    </div>
    
</body>
</html>