<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OncoDeepMind | Deep Learning Oncology Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', path='script.js') }}"></script>
</head>
<body class="about-body">

    <div class="navbar">
        <header class="navbar-content">
            <a href="/" class="logo">
                <span class="logo-text">OncoDeepMind</span>
            </a>
            <nav class="nav">
                <div class="nav-list">
                    <p class="nav-item"><a href="/risk">Risk</a></p>
                    <p class="nav-item"><a href="/predict">Form</a></p>
                    <p class="nav-item"><a href="#testimonials">Testimonials</a></p>
                    <p class="nav-item"><a href="/about">About</a></p>
                </div>
            </nav>
        </header>
    </div>

    <div class="about-container">
        <h1 class="about-page-header">About OncoDeepMind</h1>
        <h3 class="about-page-sub-header">Developed By: Rikhil Amonkar</h3>
        <p class="about-page-sub-text">OncoDeepMind predicts drug response effectiveness in cancer 
            treatment using advanced AI algorithms, empowering oncologists to make data-driven 
            decisions for personalized patient care. OncoDeepMind was developed to assist oncologists 
            in predicting the effectiveness of drug responses in cancer treatment. Large datasets of patient data 
            have been used to train advanced AI algorithms, enabling the model to analyze complex patterns
            and relationships within the data. Features have been engineered to help predict the risk of cancer for patients as well,
            by the filling of a simple form with their details. The model is designed to empower oncologists as well as general users.
        </p>
    </div>
    
</body>
</html>