<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OncoDeepMind | Deep Learning Oncology Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', path='script.js') }}"></script>
</head>
<body class="about-body">

    <header>
        <div class="navbar">
            <a class="tabs" href="/">Home</a>
            <a class="tabs" href="/predict">Form</a>
            <a class="tabs" href="#contact">Contact</a>
            <a class="tabs" href="/about">About</a>
          </div>
    </header>

    <div class="about-container">
        <h1 class="about-page-header">About OncoDeepMind</h1>
        <h3 class="about-page-sub-header">Developed By: Rikhil Amonkar</h3>
        <p class="about-page-sub-text">OncoDeepMind predicts drug response effectiveness in cancer treatment using advanced AI algorithms, empowering oncologists to make data-driven decisions for personalized patient care.</p>
    </div>
    
</body>
</html>