<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OncoDeepMind | Deep Learning Oncology Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', path='script.js') }}"></script>
</head>
<body>

    <div class="navbar">
        <header class="navbar-content">
            <a href="/" class="logo">
                <span class="logo-text">OncoDeepMind</span>
            </a>
            <nav class="nav">
                <div class="nav-list">
                    <p class="nav-item"><a href="/risk">Risk</a></p>
                    <p class="nav-item"><a href="/predict">Form</a></p>
                    <p class="nav-item"><a href="#testimonials">Testimonials</a></p>
                    <p class="nav-item"><a href="/about">About</a></p>
                </div>
            </nav>
        </header>
    </div>

    <div class="hero-container">
        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <h1 class="home-page-header">Precision Oncology with <span class="text-primary">OncoDeepMind</span></h1>
                    <p class="home-page-sub-text">Drug Response • Risk Evaluation • Better Health</p>
                </div>
            </div>
            
            <button href="/predict" class="get-started-button">Get Started</button>

        </section>       
    </div>

    <div class="bottom-page">
        <section class="section-bottom-page">
            <div class="bottom-container">
                <div class="bottom-page-content">
                    <h2 class="bottom-page-header">What is OncoDeepMind?</h2>
                    <p class="bottom-page-sub-text">OncoDeepMind is a deep learning-based oncology assistant designed to predict drug response in cancer treatment. By leveraging advanced AI algorithms, it empowers oncologists to make data-driven decisions for personalized patient care. OncoDeepMind is not just tailored to healthcare professionals, but patients as well. Our advances algorithms allow users to enter their own information for a accuraate predicition of their conditions, including risk of cancer. Try OncoDeepMind today!</p>
                </div>
            </div>
        </section>
    </div>


</body>
</html>