<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OncoDeepMind | Deep Learning Oncology Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', path='script.js') }}"></script>
</head>
<body>

    <div class="navbar">
        <header class="navbar-content">
            <a href="/" class="logo">
                <span class="logo-text">OncoDeepMind</span>
            </a>
            <nav class="nav">
                <div class="nav-list">
                    <p class="nav-item"><a href="/risk">Risk</a></p>
                    <p class="nav-item"><a href="/predict">Form</a></p>
                    <p class="nav-item"><a href="#testimonials">Testimonials</a></p>
                    <p class="nav-item"><a href="/about">About</a></p>
                </div>
            </nav>
        </header>
    </div>

    <div class="bottom-page">
        <div class="header-container">
            <h1 class="header">OncoDeepMind</h1>
            <p class="sub-header">A nueral network orientated drug response predictor</p>
        </div>
    
        <div class="form-container">
            <h2 class="form-header">Drug Response Form</h2>
            <p class="rec-sub-header">** Recommended for oncologists and health professionals **</p>
            <form method="post" action="/predict" id="drug-response-form">
    
                <label class="input-info">Cell Line Name</label><input type="text" name="cell_line_name" list="cell_line_name" required><br>
                <datalist id="cell_line_name">
                    <option value="A375"></option>
                    <option value="A549"></option>
                    <option value="MCF7"></option>
                    <option value="HCT116"></option>
                    <option value="PC3"></option>
                </datalist>
                <label class="input-info">TCGA Description</label><input type="text" name="tcga" required><br>
                <label class="input-info">Cancer Type (matches TCGA label)</label><input type="text" name="cancer_type" required><br>
                <label class="input-info">Microsatellite Instability Status (MSI)</label><input type="text" name="msi" required><br>
                <label class="input-info">Screen Medium</label><input type="text" name="screen_medium" required><br>
                
                <label class="input-info">Copy Number Alterations (CNA)</label>
                <select class="input-info" name="cna" required>
                    <option value="" disabled selected>Select</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select><br>
                                
                <label class="input-info">Gene Expression</label>
                <select class="input-info" name="gene_expression" required>
                    <option value="" disabled selected>Select</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select><br>
                                
                <label class="input-info">Methylation</label>
                <select class="input-info" name="methylation" required>
                    <option value="" disabled selected>Select</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select><br>

                <label class="input-info">Target</label><input type="text" name="target" required><br>
                <label class="input-info">Targeting Pathway</label><input type="text" name="target_pathway" required><br>
        
                <button id="drug-form-submit" class="submit-button" type="submit">Submit</button>
            </form>

        </div>

        {% if prediction %}
        <div class="display-percentage" id="display-percentage-container">
            <h2 class="drug-response-header">Drug Response Effectiveness</h2> 
            <h2 class="prediction-percentage">{{ prediction }}</h2>
            <button class="back-button" id="back-button" onclick="window.location.href='/predict'">Back</button>
        </div>
        {% endif %}

    </div>
    
</body>
</html>