<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OncoDeepMind | Deep Learning Oncology Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', path='script.js') }}"></script>
</head>
<body class="risk-body">

    <div class="navbar">
        <header class="navbar-content">
            <a href="/" class="logo">
                <span class="logo-text">OncoDeepMind</span>
            </a>
            <nav class="nav">
                <div class="nav-list">
                    <p class="nav-item"><a href="/risk">Risk</a></p>
                    <p class="nav-item"><a href="/predict">Form</a></p>
                    <p class="nav-item"><a href="#testimonials">Testimonials</a></p>
                    <p class="nav-item"><a href="/about">About</a></p>
                </div>
            </nav>
        </header>
    </div>

    <h2 class="risk-page-header">Cancer Risk & Information</h2>
    <p class="risk-page-sub-text">Learn about your possible risk of cancer and what you can change!</p>

    <div class="container-wrapper">

        <div class="cancer-risk-container">
            <form method="post" action="/risk" class="cancer-risk-form" id="cancer-risk-form">
                <h2 class="risk-form-header">Cancer Risk Assessment</h2>
                <label class="input-info-risk" for="age">Age</label>
                <input type="number" id="age" name="age" min="18" max="99" placeholder="ex. 18" required>
            
                <label class="input-info-risk" for="gender">Gender</label>
                <select id="gender" name="gender" required>
                    <option value="" disabled selected>Select</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            
                <label class="input-info-risk" for="height">Height (cm)</label>
                <input type="number" id="height" name="height" min="50" max="250" placeholder="ex. 150 cm" required>
            
                <label class="input-info-risk" for="weight">Weight (kg)</label>
                <input type="number" id="weight" name="weight" min="20" max="300" placeholder="60 kg" required>
            
                <label class="input-info-risk" for="smoking">Smoking</label>
                <select id="smoking" name="smoking" required>
                    <option value="" disabled selected>Select</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            
                <label class="input-info-risk" for="genetic_risk">Genetic Risk</label>
                <select id="genetic_risk" name="genetic_risk" required>
                    <option value="" disabled selected>Select</option>
                    <option value="1">High</option>
                    <option value="0">Low</option>
                </select>
            
                <label class="input-info-risk" for="physical_activity">Physical Activity</label>
                <select id="physical_activity" name="physical_activity" required>
                    <option value="" disabled selected>Select</option>
                    <option value="0.5">Sedentary – little to no exercise</option>
                    <option value="2.3">Light – occasional light activity</option>
                    <option value="4.5">Moderate – exercise 3–4 days/week</option>
                    <option value="7.1">Active – regular exercise or active job</option>
                    <option value="9.2">Very Active – daily intense activity or training</option>
                </select>
            
                <label class="input-info-risk" for="alcohol_intake">Alcohol Intake</label>
                <select id="alcohol_intake" name="alcohol_intake" required>
                    <option value="" disabled selected>Select</option>
                    <option value="0">None</option>
                    <option value="1">1-2 drinks a week</option>
                    <option value="2">2-4 drinks a week</option>
                    <option value="3">5-7 drinks a week</option>
                    <option value="4">7+ drinks a week</option>
                </select>
            
                <label class="input-info-risk" for="cancer_history">Cancer History</label>
                <select id="cancer_history" name="cancer_history" required>
                    <option value="" disabled selected>Select</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
    
                <button type="submit" class="submit-risk-button">Submit</button>
        </div>
    
        <div class="recommendation-container">

            <div class="risk-display">
                {% if prediction %}
                <div class="display-risk-percentage" id="display-risk-percentage-container">
                    <h2 class="drug-response-header">Cancer Probability</h2> 
                    <h2 class="prediction-percentage">{{ prediction }}</h2>
                </div>
                {% endif %}
            </div>

            <h2 class="recommendation-header">Lifestyle Change Recommendations</h2>

            <p id="empty-rec-text">Fill out the form and view your health recommendations!</p>

            {% if recommendations %}
            <div class="recommendation-section">
                <h2>** Try some of these lifestyle changes to better your health! **</h2>
                <ul class="recommendation-list">
                    {% for rec in recommendations %}
                        <li class="item-rec">{{ rec }}</li>
                    {% endfor %}
                </ul>
                <h2>How Much Each Feature Contributed To Your Risk</h2>
                <ul class="recommendation-list">
                    {% for contribution in contributions %}
                        <li class="item-rec">{{ contribution.feature }} contributed {{ contribution.percent }}% to your risk</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>

    </div>

</body>
</html>